<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"
    routerLink="/characters"
    routerLinkActive="active">
    <img src="https://img.icons8.com/color/48/000000/darth-vader.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Star Wars Characters
  </a>
  <a class="navbar-brand" routerLink="/new-character" routerLinkActive="active">
    <img src="https://img.icons8.com/color/48/000000/luke-skywalker.png" width="30" height="30" class="d-inline-block align-top" alt=""/>
    New Character
  </a>
</nav>

<!-- Active Link things don't seem to work, they are suppose to highlight which link you are on -->
